<html>
<head>
    <title>JokeApp</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/style.css'>
    <script src="../../style/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4 center" style="background-color: rgba(240, 230, 214, 0.8);" src="../image/the-jokes-app-high-resolution-logo.png" alt="logo" width="72" height="40">
            <h1 class="display-5 fw-bold text-body-emphasis"></h1>
            <% if (locals.data) { %>
                <article>
                    <div class="col-lg-6 mx-auto">
                        <div class="card">
                            <span class="card-content">
                               <% if(locals.data.joke) {%>
                                <p class="lead mb-5"><%= content %></p>
                                <% }else{ %>
                                    <p class="lead mb-4"><%= setup %></p>
                                    <p class="lead mb-4"><%= delivery %></p>
                                    <% } %>
                                    
                            </span>
                        </div>
                    </div>
                    <h3 class="lead mb-4 text">Hover on the card to view the Content.</h3>
                </article>
            <% } %>
        </div>
    </div>
</body>
</html>
